<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <%- include("./partials/sidebar.ejs") %>
    <div class="master-content">
        <h1>Category: <%= categoryData.title %></h1>
        <h3><strong>Description:</strong> <%= categoryData.description %></h3>
        <% if (data.length > 0) { %>
            <h2>Please delete these items before deleting the category</h2>
            <h2>Associated Items</h2>
            <% data.forEach(element => { %>
                <a href="/catalog/item/<%=element._id%>"><%= element.title %></a>
                <p><%= element.description %></p>
            <% }) %>
        <% } else { %>
            <h1>Are you sure you want to delete this item?</h1>
            <h3><a href="/catalog/category/<%=categoryData._id%>">Category</a>: <%= categoryData.title %></h3>
            <form action="/catalog/category/delete/<%=categoryData._id%>" method="POST">
                <input type="hidden" name="categoryid", required="true", value=<%=categoryData._id%>>
                <button>Delete</button>
            </form>
        <% } %>
    </div>
</body>
</html>