<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <%- include("./partials/sidebar.ejs") %>
    <div class="master-content">
        <h1>Delete Item Instance Confirm</h1>
        <h3>Do you really want to delete this item instance?</h3>
        <h3>ID: <%= instance._id %></h3>
        <h3>Status: <%= instance.condition %></h3>
        <h3>Price: <%= instance.price %></h3>
        <h3>Do you really want to delete this item instance?</h3>
        <form action="/catalog/iteminstance/delete/<%=instance._id%>" method="POST">
            <input type="hidden" name="itemid", required="true", value=<%=instance._id%>>
            <button>Delete</button>
        </form>
    </div>
</body>
</html>