<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <%- include("./partials/sidebar.ejs") %>
    <div class="master-content">
        <h1> ID: <%= data._id %></h1>
        <h3>Name: <a href="/catalog/item/<%=data.item._id%>"><%= data.item.title %></a> - $<%= data.price %></h3>
        <h3>Condition: <%= data.condition %></h3>
        <a href="update/<%=data._id%>">Update ItemInstance</a>
        <a href="delete/<%=data._id%>">Delete ItemInstance</a>
    </div>
</body>
</html>